<div id='myDialog'>
<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
    <!--{{data.message}}-->
    <div [innerHtml]="data.message"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <span *ngFor="let option of data.options">
        <button class="mat-raised-button" (click)="close(); option.callback.call(data.context);" style="float: right;margin-right: 5px; margin-left: 5px;">{{option.text}}</button>
    </span>
    <span *ngIf="!data.options">
        <button class="mat-raised-button" (click)="close();" style="float: right;">Close</button>
    </span>
</mat-dialog-actions>
</div>